<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Notifications </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notifications</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="requestPermission()">Allow Notifications</ion-button>

  <ion-button (click)="timeNotification(10)"
    >Notify in 10 Seconds</ion-button
  >

  <ion-button (click)="scheduleNotification(8, 0)"
    >Notification At 8AM</ion-button
  >

  <ion-button (click)='repeatNotification(true)'>Repeat Notification</ion-button>
</ion-content>
